@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-on-primary-fixed-variant: #004881;
  --color-background: #f8f9fa;
  --color-outline: #727781;
  --color-tertiary-container: #873f01;
  --color-on-secondary: #ffffff;
  --color-on-tertiary-fixed-variant: #743500;
  --color-primary-fixed: #d3e4ff;
  --color-outline-variant: #c1c7d2;
  --color-surface-container: #edeeef;
  --color-on-tertiary: #ffffff;
  --color-surface-variant: #e1e3e4;
  --color-on-surface-variant: #414750;
  --color-secondary-container: #c9e3f9;
  --color-on-tertiary-container: #ffb88c;
  --color-on-secondary-fixed-variant: #314a5b;
  --color-on-secondary-fixed: #011e2e;
  --color-primary-fixed-dim: #a2c9ff;
  --color-inverse-primary: #a2c9ff;
  --color-secondary-fixed-dim: #b0cadf;
  --color-on-tertiary-fixed: #321300;
  --color-on-error: #ffffff;
  --color-surface-container-lowest: #ffffff;
  --color-surface: #f8f9fa;
  --color-tertiary-fixed: #ffdbc8;
  --color-error: #ba1a1a;
  --color-tertiary: #642d00;
  --color-primary-container: #005596;
  --color-surface-container-high: #e7e8e9;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  --color-inverse-surface: #2e3132;
  --color-surface-dim: #d9dadb;
  --color-secondary: #486173;
  --color-primary: #003e6f;
  --color-on-primary-fixed: #001c38;
  --color-tertiary-fixed-dim: #ffb68a;
  --color-on-secondary-container: #4d6678;
  --color-secondary-fixed: #cbe6fb;
  --color-on-surface: #191c1d;
  --color-surface-container-low: #f3f4f5;
  --color-on-primary-container: #a4caff;
  --color-inverse-on-surface: #f0f1f2;
  --color-on-background: #191c1d;
  --color-surface-container-highest: #e1e3e4;
  --color-surface-tint: #1b60a2;
  --color-surface-bright: #f8f9fa;
  --color-on-primary: #ffffff;
  --font-headline: "Manrope", sans-serif;
  --font-body: "Be Vietnam Pro", sans-serif;
  --font-label: "Be Vietnam Pro", sans-serif;
  --border-radius: 0.125rem;
  --border-radius-lg: 0.25rem;
  --border-radius-xl: 0.5rem;
  --border-radius-full: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}
